body {
    background-color: #ffffff !important;
    padding-top: 75px !important;
}

#header_main {
    background-color: #f4f4f4 !important;
    height: 70px !important;
    padding-top: 15px !important;
}

#page_content {
    margin-left: 0px !important;
}

.port {
    float: left;
    padding: 5px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    text-align: center;
    min-width: 130px;
}

.port_separator {
    float: left;
    padding: 5px;
    margin-top: 10px;
}